/*
 * Copyright (c) 2022 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include "totem.dtsi"
#include <dt-bindings/pinctrl/nrf-pinctrl.h>

/* 1. Disable the physical matrix scanner on the dongle */
/ {
    chosen {
        /delete-property/ zmk,kscan;
    };
};

&kscan0 {
    status = "disabled";
};

/* 2. Safely create NEW pin configurations that omit the MISO pin */
&pinctrl {
    spi2_no_miso_default: spi2_no_miso_default {
        group1 {
            psels = <NRF_PSEL(SPIM_SCK, 1, 13)>,
                    <NRF_PSEL(SPIM_MOSI, 1, 15)>;
        };
    };

    spi2_no_miso_sleep: spi2_no_miso_sleep {
        group1 {
            psels = <NRF_PSEL(SPIM_SCK, 1, 13)>,
                    <NRF_PSEL(SPIM_MOSI, 1, 15)>;
            low-power-enable;
        };
    };
};

/* 3. Apply the new pins and your custom Prospector wiring */
&xiao_spi {
    status = "okay";
    
    /* Use our custom pins defined above */
    pinctrl-0 = <&spi2_no_miso_default>;
    pinctrl-1 = <&spi2_no_miso_sleep>;
    pinctrl-names = "default", "sleep";
    
    /* Assign custom CS pin */
    cs-gpios = <&xiao_d 9 GPIO_ACTIVE_LOW>;
    
    /* Override Prospector defaults (Zephyr uses st7789@0 for the node) */
    st7789@0 {
        dc-gpios = <&xiao_d 7 GPIO_ACTIVE_HIGH>;
        reset-gpios = <&xiao_d 3 GPIO_ACTIVE_HIGH>;
    };
};
